.login {
  background-color: var(--blue-color);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.login-container {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login-container form h1 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.login-container form label {
  color: var(--gray-text-color);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.login-container form input {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 8px 8px 16px;
  border-radius: 6px;
  background-color: var(--light-gray-color);
  min-height: 48px;
}

@media (max-width: 768px) {
  .login {
    padding: 0 24px;
  }
  .login-container {
    padding: 24px;
    min-width: 0;
  }
}
